<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/assets/styles/style.css' />
    <title>Cookie Configurator</title>
  </head>
  <body>
    <div class='title-wrapper'>
      <img
        src='/assets/images/cookie-logo.png'
        alt='cookie-logo'
        class='title-logo'
      />
      <h1 class='title-text'>Cookie Configurator</h1>
    </div>
    <hr />
    {{{body}}}
  </body>
</html>