<h1>Your order summary:</h1>

{{> addons noRemoveBtn=true}}
<a href="/order/thanks/" class="btn btn-big">Buy now! <img src="/assets/images/basket.png" alt="" class="basket-img"></a>
{{> cookie-preview}}
{{> go-home}}
