<h2>Select your cookie base:</h2>
{{> base-selector}}
<hr>

<h2>Select your favorite addons:</h2>
{{#each addons}}
    <a href="/configurator/add-addon/{{this.[0]}}" class="btn {{#if (isInArray @root.cookie.addons this.[0])}}btn-disabled{{/if}}">Add {{this.[0]}} for {{pricify this.[1]}} PLN</a>
{{/each}}
<hr>

<h2>Your cookie:</h2>
{{#if cookie.base}}
  {{> cookie-preview}}
  {{> addons}}
{{else}}
  <p><strong>To see preview of your cookie and price summary, start with selecting cookie base.</strong></p>
  {{> base-selector}}
{{/if}}
